.popup-body {
  position: fixed;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 91%;
  text-align: center;
  margin: auto;
  margin-left: 15%;
  color: black;
  background-color: white;
}

.popup-container .popup-body {
  animation: zoom-in 1s;
}

@keyframes zoom-in {
  from {
    transform: scale(10) translateY(50%);
    opacity: 0;
  }
}

.close__btn {
  background: none;
  color: var(--golden-color);
}
