.blanco {
    position: relative;
    color: var(--light-color);
    /* height: 70vh; */
    margin: 10px auto ;
    border-radius: 18px;
    /* padding: 2em 3em; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    width: 340px;
    font-size: small;

}

.blanco h1 {
    font-family: 'Bree Serif', serif;
    top: 0;
    font-size: small;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.blanco form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.fechas {
    display: flex;
    justify-content: space-between;
}

.fecha {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.fecha input[type="date"] {
    padding: 0.2em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: .4em;
}

form label {
    margin: auto;
}

.fecha input {
    border: 1.5px solid gray;
}

form input[type="text"] {
    font-weight: bold;
}

form input[type="date"] {
    font-weight: bold;
}

.conductor{
    margin: auto;
}
.conductor label {
    font-size: x-small;
}

.address-list {
    background-color: antiquewhite;
    color: var(--light-color);
}

.bar-search {
    margin-top: 1rem;
}

.combobox-input{
    height: 1.5rem;
    border-style: none;
    border-radius: 5px;
}