@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  /* background-color: var(--medium-background); */
  font-size: var(--textM);
  overscroll-behavior: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bg-slider 20s linear infinite;
  background-size: cover;
  background-position: center;
  transition:1s ease;
  transition-delay:.4s;
  object-fit: cover;
  color: red;
}
