:root {
  /* couleurs */

  --dark-color: #13293d;
  --med-color: #006494;
  --light-color: #e8f1f2;
  --elements-color: #1b98e0;

  /* elements */

  --radius: 8px;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
